head{
    color: brown;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


body{

    color:black;
    text-align: justify;
    font-family: Arial;
    background-color: burlywood;
        
}
