head{
    color: brown;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


body{

    color:black;
    text-align: justify;
    font-family: Arial;
    background-color: rgb(208, 232, 236);
        
}

.Table
{
    display: table;
}

.Title
{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.Heading
{
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.Row
{
    display: table-row;
}

.Cell
{
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}