body{
    background: #232324;
    color: rgb(110, 109, 201);
    text-align: center;
    font-family: "Arial"; 
    font-size: 16px;
    margin: 0;
    padding: 0;  
}

#cabecera{
    background: url("../Imagenes/Dragon.png" ) no-repeat center center center;
    box-shadow: 0px 2px 50px 0px rgba(40, 196, 183, 0.5);
    color:darkorange;
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0 0.5em 2em;
}

#cabecera #logo
{
    width: 50px;        
    vertical-align: middle;
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal ;
    font-size: 0.8em;
}

#container{

    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(29, 189, 29);
    margin: 0 auto;

}

#container h1{

    font-size: 20px;
}

#post
{
    background: white;
    padding: 1em;
}

.Table
{
    display: table;
}

.Title
{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.Heading
{
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.Row
{
    display: table-row;
}

.Cell
{
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}
